/* Assets */

@font-face {
    font-family: 'PlayWrite';
    src: url("assets/fonts/PlaywriteNZGuides-Regular.woff");
}

@font-face {
    font-family: 'SpaceGrotesk';
    src: url("assets/fonts/SpaceGrotesk-Regular.woff2");
}

@font-face {
    font-family: 'SpaceGrotesk';
    src: url("assets/fonts/SpaceGrotesk-Bold.woff2");
    font-weight: bold;
}

@font-face {
    font-family: 'SpaceGrotesk';
    src: url("assets/fonts/SpaceGrotesk-Light.woff2");
    font-weight: lighter;
}

@font-face {
    font-family: 'SpaceGrotesk';
    src: url("assets/fonts/SpaceGrotesk-Medium.woff2");
    font-weight: 500;
}

@font-face {
    font-family: 'SpaceGrotesk';
    src: url("assets/fonts/SpaceGrotesk-SemiBold.woff2");
    font-weight: 800;
}

@font-face {
    font-family: 'ScienceGothic';
    src: url("assets/fonts/ScienceGothic-Regular.ttf");
}

@font-face {
    font-family: 'ScienceGothic';
    src: url("assets/fonts/ScienceGothic-Bold.ttf");
    font-weight: bold;
}

/* Reset Add Config */

*,
body {
    margin: 0;
    padding: 0;
}

html,
body {
    font-family: 'Roboto';
    width: 100%;
    height: 100%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

button,
h3 {
    min-height: 0;
    min-width: 0;
}

/* TODO: Main Container */

/* .todo-background, */
.todo,
.todo-background {
    width: 90vw;
    min-height: 60vh;
}

.todo {
    z-index: 1;
}

.todo-background {
    position: absolute;
    background-color: whitesmoke;
    background-image:
        radial-gradient(black 1.5px, transparent 1.5px),
        radial-gradient(grey 1.5px, transparent 1.5px);
    background-size: 20px 20px;
    background-position: 0px 0px, 10px 10px;
    mask-image: radial-gradient(ellipse at center, rgba(128, 128, 128, 0) 20%, rgba(128, 128, 128, 0.397) 100%);
    mask-size: 100% 100%;
    mask-repeat: no-repeat;
    z-index: 0;
}

/* TODO: General items config */

.todo-header,
.todo-sidebar,
.todo-footer,
.todo-main {
    margin: 12px;
    padding: 12px;
    border: 2px solid whitesmoke;
    border-radius: 8px;
    background-color: rgba(245, 245, 245, 0.589);

}

.todo > * {
    border: red 2px solid;
    min-width: 0;
    min-height: 0;
}

/* TODO: Layout */

.todo-header {
    grid-area: header;
}

.todo-main {
    grid-area: main;
}

.todo-sidebar {
    grid-area: sidebar;
}

.todo-footer {
    grid-area: footer;
}

.todo {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr minmax(50vh, 4fr) 1fr;
    grid-template-areas: 
        "header header"
        "sidebar main"
        "footer footer"
    ;
    border-radius: 12px;
    box-shadow: 0px 0px 6px 0px;
}

/* Header */

.todo-header {
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 12px;
}

.todo-header h1 {
    flex: 1;
    font-family: 'ScienceGothic';
    margin: 0px;
    padding: 0px;
}

/* Footer */
.todo-footer {
    display: flex;
    align-items: center;
    justify-content: end;
    padding: 12px;
}

/* Sidebar */

.todo-sidebar {
    min-height: 0;
    display: flex;
    gap: 24px;
    flex-direction: column;
    text-align: center;
}

.menu-sidebar {
    min-height: 0;
    flex: 3;
    display: flex;
    gap: 6px;
    flex-direction: column;
}

.projects-sidebar {
    min-height: 40vh;
    display: flex;
    align-content: flex-start;
    padding: 2px;
    gap: 6px;
    flex-direction: column;
    flex: 6;
    min-height: 0;
    overflow-y: hidden;
}

.projects-sidebar-container {
    flex: 7;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 8px;
    overflow-y: scroll;
}

.project-container {
    padding: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
}

.btn-project {
    flex: 5;
}

.btn-sidebar.btn-project-delete {
    flex: 1;
}

.create-sidebar {
    min-height: 0;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.projects-sidebar h3 {
    flex: 1;
    font-family: 'ScienceGothic';
}

.btn-sidebar,
.btn-project {
    font-family: 'SpaceGrotesk';
    min-height: 16px;
    background-color: whitesmoke;
    border: none;
    border-radius: 10px;
    box-shadow: 0px 0px 4px black;
    cursor: pointer;
}

.btn-sidebar {
    flex: 1;
}

.btn-project {
    max-height: 16px;
    font-size: 0.7em;
}

.btn-project-delete {
    flex: 1;
    font-size: 0.7em;
    background-color: transparent;
    border-radius: 2px;
    color: red;
    border: none;
    box-shadow: 0px 0px 4px red;
    cursor: pointer;
}

/* Main */

