/* Assets */

@font-face {
    font-family: 'PlayWrite';
    src: url("assets/fonts/PlaywriteNZGuides-Regular.woff");
}

@font-face {
    font-family: 'SpaceGrotesk';
    src: url("assets/fonts/SpaceGrotesk-Regular.woff2");
}

@font-face {
    font-family: 'SpaceGrotesk';
    src: url("assets/fonts/SpaceGrotesk-Bold.woff2");
    font-weight: bold;
}

@font-face {
    font-family: 'SpaceGrotesk';
    src: url("assets/fonts/SpaceGrotesk-Light.woff2");
    font-weight: lighter;
}

@font-face {
    font-family: 'SpaceGrotesk';
    src: url("assets/fonts/SpaceGrotesk-Medium.woff2");
    font-weight: 500;
}

@font-face {
    font-family: 'SpaceGrotesk';
    src: url("assets/fonts/SpaceGrotesk-SemiBold.woff2");
    font-weight: 800;
}

@font-face {
    font-family: 'ScienceGothic';
    src: url("assets/fonts/ScienceGothic-Regular.ttf");
}

@font-face {
    font-family: 'ScienceGothic';
    src: url("assets/fonts/ScienceGothic-Bold.ttf");
    font-weight: bold;
}

/* Reset Add Config */

:root {
    --bg-main-color: black;
    --bg-secondary-color: grey;
    --mask-secondary-color: rgba(128, 128, 128, 0);
    --mask-main-color: rgba(128, 128, 128, 0.4);
    --main-color: whitesmoke;
    --secondary-color: rgba(128, 128, 128, 0.200);
    --alternative-color: rgba(245, 245, 245, 0.200);
    --delete-color: red;
    --modal-bg-color: rgba(0, 0, 0, 0.3);
}

*,
body {
    margin: 0;
    padding: 0;
}

html,
body {
    font-family: 'Roboto';
    width: 100%;
    height: 100%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

button,
h3 {
    min-height: 0;
    min-width: 0;
}

button,
input[type='checkbox'] {
    cursor: pointer;
}

button:hover {
    opacity: 0.8;
}


/* TODO: Main Container */

.todo,
.todo-background,
div[class^="modal"] {
    width: 90vw;
    height: 60vh;
}

.todo,
.todo-background {
    min-width: 200px;
    overflow-x: auto;
    box-sizing: border-box;
}

.todo-background {
    position: absolute;
    background-color: var(--main-color);
    background-image:
        radial-gradient(var(--bg-main-color) 1.5px, transparent 1.5px),
        radial-gradient(var(--bg-secondary-color) 1.5px, transparent 1.5px);
    background-size: 20px 20px;
    background-position: 0px 0px, 10px 10px;
    mask-image: radial-gradient(ellipse at center, var(--mask-secondary-color) 20%, var(--mask-main-color) 100%);
    mask-size: 100% 100%;
    mask-repeat: no-repeat;
    z-index: -1;
}

.todo {
    position: absolute;
    z-index: 1;
}




/* TODO: General items config */

.todo-header,
.todo-sidebar,
.todo-footer,
.todo-main {
    margin: 12px;
    padding: 12px;
    box-sizing: border-box;
    border: 2px solid var(--main-color);
    border-radius: 8px;
    background-color: var(--alternative-color);
}

.todo > * {
    border: var(--delete-color) 2px solid;
    min-height: 0;
}

/* TODO: Layout */

.todo-header {
    grid-area: header;
}

.todo-main {
    grid-area: main;
}

.todo-sidebar {
    grid-area: sidebar;
}

.todo-footer {
    grid-area: footer;
}

.todo {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr minmax(50vh, 4fr) 1fr;
    grid-template-areas: 
        "header header"
        "sidebar main"
        "footer footer"
    ;
    border-radius: 12px;
    box-shadow: 0px 0px 6px 0px;
    min-width: 0px;
}

/* Header */

.todo-header {
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 12px;
    min-width: 300px;
}

.todo-header h1 {
    flex: 1;
    font-family: 'ScienceGothic';
    margin: 0px;
    padding: 0px;
    font-size: 1em;
    min-width: 0px;
}

/* Footer */
.todo-footer {
    display: flex;
    align-items: center;
    justify-content: end;
    padding: 12px;
    min-width: 300px;
}

/* Sidebar */

.todo-sidebar {
    min-height: 0;
    box-sizing: border-box;
    display: flex;
    gap: 24px;
    flex-direction: column;
    text-align: center;
    min-width: 150px;
    overflow: hidden;
}

.menu-sidebar {
    min-height: 0;
    flex: 3;
    display: flex;
    gap: 6px;
    flex-direction: column;
}

.projects-sidebar {
    min-height: 40vh;
    display: flex;
    align-content: flex-start;
    padding: 2px;
    gap: 6px;
    flex-direction: column;
    flex: 6;
    min-height: 0;
    overflow-y: hidden;
}

.projects-sidebar-container {
    flex: 7;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 8px;
    overflow-y: auto;
}

.project-container {
    padding: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
}

.btn-project {
    flex: 5;
    overflow-x: hidden;
}

.btn-sidebar.btn-project-delete {
    flex: 1;
}


.btn-sidebar {
    flex: 1;
}

.create-sidebar {
    min-height: 0;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.projects-sidebar h3 {
    flex: 1;
    font-family: 'ScienceGothic';
    font-size: 1em;
}


/* Main */

.todo-main {
    max-height: 55vh;
    display: flex;
    gap: 12px;
    flex-direction: column;
    overflow-x: auto;
    overflow-y: auto;
}

/* Collapsed Items */

.todo-item-col {
    font-family: 'SpaceGrotesk';
    display: flex;
    overflow: hidden;
    justify-content: space-around;
    padding: 12px;
    background-color: var(--secondary-color);
    border: none;
    border-radius: 6px;
    /* gap: 60px; */
    min-width: 400px;
    
}

.todo-item-col-info,
.todo-item-col-act {
    display: flex;
    flex: 1;
    gap: 12px;
    align-items: center;
}

.todo-item-col-info {
    justify-content: flex-start;
}

.todo-item-col-act {
    justify-content: flex-end;
}

.todo-item-col-info > *,
.todo-item-col-act > * {
    min-width: 32px;
    min-height: 16px;
    align-items: center;
}
.btn-col.col-delete {
    max-width: 6px;
}

/* .todo-item-col-info .col-name{
    text-decoration: line-through;
} */

/* Collapsed Notes */

.notes-col {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
}

.note-item-col {
    flex: 0.3;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 12px;
    padding: 6px;
    background-color: var(--secondary-color);
    border-radius: 6px;
}

.btn-note-item-col {
    min-width: 16px;
    min-height: 16px;
}

/* Modals */

.modals {
    position: absolute;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--modal-bg-color);
    margin: 24px;
    border-radius: 12px;
}

div[class^="modal-"] {
    width: 50%;
    height: 50%;
    display: flex;
    padding: 12px;
    border: 2px solid var(--delete-color);
    background-color: var(--main-color);
    border-radius: 12px;
    overflow-x: auto;
}

.btn-modal-close,
.btn-modal-close .edit {
    display: flex;
    align-items: center;
    overflow: hidden;
    text-align: center;
    position: absolute;
    padding: 6px;
    top: 12px;
    right: 12px;
    border: 1px solid var(--bg-secondary-color);
    border-radius: 6px;
    background-color: var(--modal-bg-color);
}
/* Create */

.modal-create {
    position: relative;
    flex-direction: column;
    gap: 12px;
    justify-content: center;
    align-items: center;
}

.modal-create .btn-modal {
    flex: 1;
    min-width: 120px;
    max-height: 60px;
    border-radius: 12px;
    box-shadow: 0px 0px 4px var(--bg-main-color);
    border: none;
    
}

.modal-create .btn-modal,
.btn-modal-close,
.btn-modal-close-edit {
    color: var(--main-color);
    font-family: 'SpaceGrotesk';
    font-weight: bold;
    background-color: var(--mask-main-color);
    text-shadow: 
        1px 1px 0 var(--modal-bg-color),
        1px -1px 0 var(--modal-bg-color),
        -1px 1px 0 var(--modal-bg-color),
        -1px -1px 0 var(--modal-bg-color);
}

/* TODO Create/Edit */

textarea {
    resize: none;
}

.modal-todo {
    font-family: 'ScienceGothic';
    display: flex;
    flex-direction: column;
}

.btn-modal-close.edit {
    position: unset;
    align-self: flex-end;
}

.form-todo,
.form-project,
.form-note {
    flex: 1;
    box-sizing: border-box;
    padding: 6px;
    justify-content: center;
    align-items: center;
    display: grid;
    min-width: 0px;
    width: 100%;
    gap: 6px;
}

.form-todo {

    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}

.form-project,
.form-note {
    grid-template-columns: minmax( 100px, 1fr);

}

.form-todo-field,
.form-project-field,
.form-note-field {
    box-sizing: border-box;
    gap: 4px;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: stretch;
    min-width: 0px;

}

.form-todo-field > input,
.form-todo-field > textarea,
.form-todo-field > select,
.form-project-field > input,
.form-note-field > input,
.form-note-field > textarea {
    font-family: 'SpaceGrotesk';
    font-size: 12px;
    height: 20px;
    border-radius: 4px;
    border: 1px solid gray;
    text-align: start;
    line-height: 30px;
}

.btn-modal-add{
    max-width: 100px;
    grid-column: 1 / -1;
    width: 75%;
    justify-self: center;
    padding: 12px;
}

/* TODO Info */

.modal-todo.info input,
.modal-todo.info textarea,
.modal-todo.info select,
.modal-todo.info label {
    pointer-events: none;
    opacity: 0.6;
}

.modal-todo.info .btn-modal-add {
    display: none;
}

/* Project edit */

.modal-project-edit,
.modal-note-edit {
    flex-direction: column;
}

.form-note-field > textarea {
    height: 60px;
}

/* .form-project {
    grid-template-columns: 200px;
} */

/* Buttons Style */

.btn-sidebar,
.btn-project,
.btn-col,
.btn-modal-add {
    font-family: 'SpaceGrotesk';
    min-height: 16px;
    background-color: var(--main-color);
    border: none;
    border-radius: 10px;
    box-shadow: 0px 0px 4px var(--bg-main-color);
    cursor: pointer;
}


.btn-project {
    max-height: 16px;
    font-size: 0.7em;
}

.btn-project-delete,
.btn-col.col-delete {
    flex: 1;
    font-size: 0.7em;
    background-color: transparent;
    border-radius: 2px;
    color: var(--delete-color);
    border: none;
    box-shadow: 0px 0px 4px var(--delete-color);
    cursor: pointer;
}

